body {
    background-color: black;
    color:            yellow;
    text-align:       center;
}

h1 { color: red; }

a {
    text-decoration:  none;
    transition:       .3s;
}

a:hover {
    background-color: red;
    color:            black;
    font-weight:      bold;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:  1;
    left:     0;
    top:      0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.95);
    overflow:  hidden;
    transition: .5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin: 0 auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size
 * of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
