@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(esDR31xSG-6AGleN2tWklQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: local('Stalemate'), local('Stalemate-Regular'), url(taiIGmZ_EJq97-UfkZRZva6o.ttf) format('truetype');
}

/*
     FILE ARCHIVED ON 16:14:12 Jan 26, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:29:47 Mar 10, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.112
  exclusion.robots.policy: 0.1
  cdx.remote: 0.101
  esindex: 0.01
  LoadShardBlock: 129.538 (6)
  PetaboxLoader3.datanode: 110.809 (7)
  load_resource: 97.16
  PetaboxLoader3.resolve: 71.672
*/
